<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Pokémon</title>
</head>

<body class="bg-light text-center">
    <h1 class="mt-3">Pokédex</h1>
    <a href="{{ url_for('home') }}" class="btn btn-success m-3">Accueil</a>

    <img class="rounded mx-auto d-block" src="{{ url_for('static', filename='29.png') }}" alt="Bourg-Palette">
    <div class="container p-3 mt-3 border shadow bg-body rounded" style="width: 30%;">
        <div class="text-center">
            <h3>Pokémon</h3>
            {{ pokemon._source.name.french }} ID: {{pokemon._source.id}}
            <hr>
            Type:
            {% for type in pokemon._source.type %}
            <br>
            - {{type}}
            {% endfor %}
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>